body {
    background-image: url(../images/cream_pixels/cream_pixels.png);
    background-attachment: fixed
}

a {
    color: #a90329
}

a:hover {
    color: #8f0222
}

h3 {
    padding-bottom: 10px
}

#header {
    background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    height: 100px
}

.secondary-header {
    background: url(../images/header.png) no-repeat;
    background-position: right;
    height: 100px
}

#header h3 {
    color: #fff;
    margin: 0;
    padding-top: 20px;
    height: 40px
}

.name-header {
    list-style: none;
    padding: 0
}

.bangla-header {
    font-family: BanglaFont
}

.centered {
    text-align: center
}

#header_logo {
    align-content: center
}

.notice {
    margin-top: 10px;
    text-align: left
}

.notice .input-group {
    margin-bottom: 10px
}

.more-details {
    font-size: 16px
}

.more-details a {
    color: #a90329
}

.more-details a:hover {
    color: #8f0222;
    text-decoration: underline
}

.login-form {
    text-align: left
}

.navbar-brand {
    padding-top: 10px
}

.form-control {
    height: 30px
}

#navbar-search-button {
    height: 30px
}

#nav-name {
    padding-top: 18px;
    padding-left: 0;
    display: inline
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #a90329
}

#MyCarousel {
    margin-bottom: 10px
}

.carousel-caption {
    background-color: rgba(252, 248, 227, 0.70);
    text-align: left;
    padding: 5px 20px 20px;
    width: 500px;
    margin: auto;
    border-radius: .5em
}

.carousel-caption h2 {
    color: #a90329;
    padding: 0
}

.carousel-caption p {
    color: #000;
    padding: 0
}

.news-header {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    height: 40px
}

.news-header span {
    color: #a90329
}

.story {
    opacity: 0
}

.thumbnail {
    width: 250px;
    margin: 0 20px 10px 0
}

.continue-reading {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    color: #a90329
}

.clear {
    clear: both
}

.intro
{
    min-height: 300px;
}


.aboutInfo
{
    text-align: center;
    padding: 60px 0;
}

#audience-section {
    padding-left: 0
}

#audience-list {
    padding-top: 80px
}

#audience-section img {
    width: 400px;
    height: 300px
}

.audience-image {
    height: 300px
}

.showItem {
    display: none
}

#news-updates h3 {
    border-bottom: 1px solid lightgray
}

#upcoming-events h3 {
    border-bottom: 1px solid lightgray
}

.header-icon {
    color: #a90329
}

.news-item {
    padding: 20px 10px
}

.news-item a {
    color: #1A1A1A
}

.news-item a:hover {
    color: #000
}

.news-icon {
    font-size: 16px;
    color: #a90329
}

.event {
    clear: both
}

.events-circle {
    width: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #fff;
    border: 3px solid #a90329;
    display: inline;
    font-size: 24px;
    padding: 15px
}

.event-time {
    float: left;
    margin: 0 10px 10px 0
}

#news-updates,
#upcoming-events {
    margin-bottom: 100px;
    margin-top: 50px
}

.event-month {
    display: block;
    font-size: 15px;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase
}

.event-date {
    display: block;
    font-size: 24px;
    text-align: center
}

.event-description {
    padding: 10px 0
}

.event-description p {
    font-size: 16px
}

.well-sm {
    padding: 3px 10px 3px 3px
}

.important-info {
    padding-top: 50px;
    padding-bottom: 50px
}

.important-info ul {
    list-style: none;
    padding: 0
}

.important-info li {
    padding-bottom: 10px
}

.newsletter-content {
    background-color: #333;
    height: 300px
}

.newsletter-form {
    padding-top: 10em
}

.footer {
    background-color: #85111e;
    color: #fff;
    padding: 30px;
    float: bottom
}

.footer #logo {
    font-size: 24px;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.footer #small-logo {
    font-size: 10px
}

.footer .small {
    color: #fff
}

.footer #link-list {
    list-style: none;
    margin-bottom: 0;
    display: inline
}

.footer #link-list li {
    padding: 3px;
    float: left
}

.footer #contact-list {
    list-style: none;
    margin-bottom: 0
}

.footer a {
    color: #fff
}

.footer a:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: underline
}

tr.table-header {
    background-color: #a90329;
    color: #fff;
    font-weight: bolder
}

table tr:nth-child(even) {
    background-color: #f2f6f8
}

.department-list {
    margin-top: 42px
}



@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out
    }
    .row-offcanvas-right {
        right: 0
    }
    .row-offcanvas-left {
        left: 0
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%
    }
    .row-offcanvas-right.active {
        right: 50%
    }
    .row-offcanvas-left.active {
        left: 50%
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%
    }
    .visitor-header {
        background-color: #f5f5dc
    }
    .visitor-list, .webmail-list {
        list-style: none;
        padding-left: 0;
    }
    .visitor-list > li, .webmail-list > li {
        color: #fff;
        padding: 10px;
        display: inline;
        width: 100%
    }
    .visitor-list a, .webmail-list a {
        color: #A50328;
        text-decoration: none;
        max-height: 100%;
    }

    .intro h2
    {
        font-size: 1.9em;
    }

    .aboutInfo
    {
        padding: 10px 0;
        color: white;
    }

    .intro .row
    {
        background-color: #a90329;
    }


    /*.visitor-list a:hover {*/
    /*background-color: #eeeec4*/
    /*}*/
}

@font-face {
    font-family: BanglaFont;
    src: url(../fonts/SolaimanLipi.ttf)
}

.profile-left {
    text-align: center;
    margin: 10px 0 30px
}

.bold {
    font-weight: bolder
}

@media(min-width: 768px) {
    .navbar-search {
        float: left;
        padding-left: 17px
    }
    .input-group {
        width: 180%
    }
    .visitor-header {
        background-color: #F5F5DC;
    }
    .visitor-list {
        list-style: none;
        padding: 10px;
        margin: 0;
        float: left;
        padding: 10px;

    }

    .webmail-list {
        list-style: none;
        padding: 10px;
        margin: 0;
        float: right;
        padding: 10px;
    }
    .visitor-list > li, .webmail-list > li {
        color: #fff;
        display: inline
    }


    .visitor-list a, .webmail-list a {
        color: #A50328;
        text-decoration: none;
        padding: 19px
    }
    .visitor-list a:hover, .webmail-list a:hover {
        background-color: #eeeec4;
        padding-bottom: 12px;
    }
}

@media(max-width: 768px) {
    .carousel-caption {
        padding: 0 0 0 20px;
        width: auto
    }
    .carousel-caption h2 {
        font-size: 16px
    }
    .carousel-caption p {
        font-size: 12px
    }
    .story .thumbnail {
        width: 200px
    }
    #audience-section {
        height: 400px
    }
    #audience-section img {
        width: 200px;
        height: 150px
    }
    .audience-image {
        height: 200px;
        float: left
    }
    #audience-list {
        padding-top: 10px
    }
}

@media(max-width: 400px) {
    .carousel-caption {
        padding: 0 0 0 20px;
        width: inherit;
        position: absolute;
        bottom: 80px
    }
    #audience-section {
        height: 900px
    }
    .story .thumbnail {
        width: 150px
    }
    .carousel-caption p {
        display: none
    }
    .carousel-caption h2 {
        margin: 5px
    }

    .footer #link-list {
        list-style: none;
        margin-bottom: 0;
        display: inline;

    }
    .footer #link-list li {
        padding: 8px;
        float: left
    }
}

@media(min-width: 992px) {
    .navbar-search {
        float: right;
        margin: -100px 0 0
    }
    #MyCarousel .item {
        height: 400px
    }
    .input-group {
        width: 100%
    }
    .footer #link-list {
        list-style: none;
        margin-bottom: 0;
        display: inline;
        float: right
    }
    .footer #link-list li {
        padding: 8px;
        float: left
    }
    #audience-section {
        height: 400px;
        padding-left: 0
    }
    .audience-image {
        height: 300px;
        float: left
    }
    #panel {
        height: 300px
    }

    .intro .row
    {
        background-color: #a90329;
    }

    .aboutInfo
    {
        color: white;
    }
}

@media(max-width: 992px) {
    #audience-section img {
        width: 300px;
        height: 200px
    }
    .story .thumbnail {
        width: 200px
    }
    .newsletter-content {
        height: 500px
    }
    .newsletter-form {
        padding-top: 10em
    }
    #panel {
        height: 300px
    }
    .notice {
        font-size: .9em
    }
    .notice .input-group {
        width: 90%
    }

    .intro .row
    {
        background-color: #a90329;
    }

    .aboutInfo
    {
        color: white;
    }
}



@media(max-width: 650px) {
    #nav-name {
        display: none
    }
    #audience-section {
        height: 500px
    }
}

.calendar {
    min-height: 500px
}